assignment.json
[{"id":"803dfc2.2443","type":"tab","label":"Assignment","disabled":false,"info":""},{"id":"dc6b4b0c.494098","type":"ubidots_out","z":"803dfc2.2443","name":"","token":"your token","label_device":"","device_label":"RPi","tier":"educational","x":950,"y":200,"wires":[]},{"id":"8fb38bbb.e3a658","type":"http in","z":"803dfc2.2443","name":"","url":"/ubidots","method":"get","upload":false,"swaggerDoc":"","x":670,"y":520,"wires":[["383b0281.1a01de","8ba1b9ea.0b844"]]},{"id":"383b0281.1a01de","type":"http response","z":"803dfc2.2443","name":"","statusCode":"","headers":{},"x":870,"y":640,"wires":[]},{"id":"8ba1b9ea.0b844","type":"change","z":"803dfc2.2443","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.alarm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":520,"wires":[["15ddaa5d.d9ac9e"]]},{"id":"99709875.d4c4a8","type":"change","z":"803dfc2.2443","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":260,"wires":[["15ddaa5d.d9ac9e"]]},{"id":"18108a6c.6d86b6","type":"change","z":"803dfc2.2443","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":320,"wires":[["15ddaa5d.d9ac9e"]]},{"id":"2f866c09.42120c","type":"comment","z":"803dfc2.2443","name":"checks high temperature change with ubidots","info":"GET request sent by Ubidots whenever the values of the temp-diff derived variable temparature \nrises above or drops below a fixed threshold\n","x":770,"y":460,"wires":[]},{"id":"5d484530.3feae4","type":"comment","z":"803dfc2.2443","name":"checks high temperature change without ubidots","info":"","x":780,"y":360,"wires":[]},{"id":"ebf88c91.598d48","type":"comment","z":"803dfc2.2443","name":"command to be sent to the display","info":"","x":1150,"y":460,"wires":[]},{"id":"a1af517d.5a9c58","type":"comment","z":"803dfc2.2443","name":"commands to be sent to the display","info":"","x":1280,"y":200,"wires":[]},{"id":"1424da81.3ac035","type":"mqtt in","z":"803dfc2.2443","name":"","topic":"unige/dibris/room328/sensehat","qos":"2","broker":"84e2978f.8cb098","x":200,"y":120,"wires":[["e8338430.6c2"]]},{"id":"e8338430.6c2","type":"json","z":"803dfc2.2443","name":"","property":"payload","action":"","pretty":false,"x":550,"y":120,"wires":[["dc6b4b0c.494098","257e3b7f.607d9c"]]},{"id":"15ddaa5d.d9ac9e","type":"mqtt out","z":"803dfc2.2443","name":"","topic":"unige/dibris/room328/display","qos":"2","retain":"","broker":"67b10ae2.3af0ec","x":1560,"y":300,"wires":[]},{"id":"257e3b7f.607d9c","type":"switch","z":"803dfc2.2443","name":"","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gt","v":"25.48","vt":"num"},{"t":"lte","v":"25.48","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":300,"wires":[["99709875.d4c4a8"],["18108a6c.6d86b6"]]},{"id":"84e2978f.8cb098","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"67b10ae2.3af0ec","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
