gateway.json
[{"id":"10f74f93.707d78","type":"tab","label":"Ubidots","disabled":false,"info":""},{"id":"5dbf5bc3.e4f1ac","type":"json","z":"10f74f93.707d78","name":"","property":"payload","action":"","pretty":false,"x":390,"y":180,"wires":[["142be731.ed5f51","ee95429a.d45698","1ac56aeb.94e815","9a196725.dde87"]]},{"id":"142be731.ed5f51","type":"ubidots_out","z":"10f74f93.707d78","name":"","token":"yourUbidotsToken","label_device":"","device_label":"RPi","tier":"educational","x":730,"y":180,"wires":[]},{"id":"d646920f.5df0e8","type":"http in","z":"10f74f93.707d78","name":"","url":"/ubidots","method":"get","upload":false,"swaggerDoc":"","x":130,"y":540,"wires":[["479db29b.02ad7c","7aed3233.75130c"]]},{"id":"479db29b.02ad7c","type":"http response","z":"10f74f93.707d78","name":"","statusCode":"","headers":{},"x":330,"y":660,"wires":[]},{"id":"7aed3233.75130c","type":"change","z":"10f74f93.707d78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.command","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":540,"wires":[[]]},{"id":"ee95429a.d45698","type":"switch","z":"10f74f93.707d78","name":"","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gt","v":"25.48","vt":"num"},{"t":"lte","v":"25.48","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":280,"wires":[["79054012.24c0d8"],["3520b783.ffb5b8"]]},{"id":"79054012.24c0d8","type":"change","z":"10f74f93.707d78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":240,"wires":[["eec15125.8e16f"]]},{"id":"3520b783.ffb5b8","type":"change","z":"10f74f93.707d78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":300,"wires":[["eec15125.8e16f"]]},{"id":"a1907545.3b729","type":"comment","z":"10f74f93.707d78","name":"checks average temp threshold with ubidots","info":"GET request sent by Ubidots whenever the average temparature \nrises above or drops below a fixed threshold\n","x":220,"y":480,"wires":[]},{"id":"30bad03d.09334","type":"comment","z":"10f74f93.707d78","name":"checks high/low temperature without ubidots","info":"","x":800,"y":360,"wires":[]},{"id":"e7d6d562.a10b8","type":"comment","z":"10f74f93.707d78","name":"command to be sent to the display","info":"","x":610,"y":480,"wires":[]},{"id":"d478f539.5bc798","type":"comment","z":"10f74f93.707d78","name":"commands to be sent to the display","info":"","x":1060,"y":180,"wires":[]},{"id":"aa2cca96.edb238","type":"websocket in","z":"10f74f93.707d78","name":"from Rpi3","server":"6a17ccff.15a994","client":"","x":180,"y":180,"wires":[["5dbf5bc3.e4f1ac"]]},{"id":"eec15125.8e16f","type":"websocket out","z":"10f74f93.707d78","name":"to Rpi3","server":"6a17ccff.15a994","client":"","x":1280,"y":280,"wires":[]},{"id":"1ac56aeb.94e815","type":"debug","z":"10f74f93.707d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":320,"wires":[]},{"id":"9a196725.dde87","type":"mqtt out","z":"10f74f93.707d78","name":"","topic":"unige/dibris/room328","qos":"2","retain":"","broker":"5f9c21d8.530108","x":700,"y":100,"wires":[]},{"id":"6a17ccff.15a994","type":"websocket-listener","z":"","path":"/","wholemsg":"false"},{"id":"5f9c21d8.530108","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
