solution.json
[{"id":"3ec99d10.87a4ba","type":"tab","label":"Solution","disabled":false,"info":""},{"id":"beac9616.4ec8","type":"ubidots_out","z":"3ec99d10.87a4ba","name":"","token":"your token","label_device":"","device_label":"RPi","tier":"educational","x":950,"y":200,"wires":[]},{"id":"d85226f8.9b1878","type":"http in","z":"3ec99d10.87a4ba","name":"","url":"/ubidots","method":"get","upload":false,"swaggerDoc":"","x":670,"y":520,"wires":[["4fc7a565.5deb74","fd11c3f4.1ce6c"]]},{"id":"4fc7a565.5deb74","type":"http response","z":"3ec99d10.87a4ba","name":"","statusCode":"","headers":{},"x":870,"y":640,"wires":[]},{"id":"fd11c3f4.1ce6c","type":"change","z":"3ec99d10.87a4ba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.alarm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":520,"wires":[["c9e0da47.7a929"]]},{"id":"6116dd93.23ba54","type":"switch","z":"3ec99d10.87a4ba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1","vt":"num"},{"t":"lte","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":300,"wires":[["69d374b8.e2b99c"],["529b8fa9.e1955"]]},{"id":"69d374b8.e2b99c","type":"change","z":"3ec99d10.87a4ba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":260,"wires":[["c9e0da47.7a929"]]},{"id":"529b8fa9.e1955","type":"change","z":"3ec99d10.87a4ba","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":320,"wires":[["c9e0da47.7a929"]]},{"id":"ac84f523.7b0638","type":"comment","z":"3ec99d10.87a4ba","name":"checks high temperature change with ubidots","info":"GET request sent by Ubidots whenever the values of the temp-diff derived variable temparature \nrises above or drops below a fixed threshold\n","x":770,"y":460,"wires":[]},{"id":"e3c99185.e2655","type":"comment","z":"3ec99d10.87a4ba","name":"checks high temperature change without ubidots","info":"","x":780,"y":360,"wires":[]},{"id":"8b897ad4.e35718","type":"comment","z":"3ec99d10.87a4ba","name":"command to be sent to the display","info":"","x":1150,"y":460,"wires":[]},{"id":"592fc491.055ca4","type":"comment","z":"3ec99d10.87a4ba","name":"commands to be sent to the display","info":"","x":1280,"y":200,"wires":[]},{"id":"a7a3e5c2.25a98","type":"join","z":"3ec99d10.87a4ba","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":300,"wires":[["52bafea.bf67b"]]},{"id":"52bafea.bf67b","type":"function","z":"3ec99d10.87a4ba","name":"calc temp diff","func":"msg.payload=Math.abs(msg.payload[1].temperature-msg.payload[0].temperature)\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":300,"wires":[["6116dd93.23ba54"]]},{"id":"2dbfbcb7.8442f4","type":"mqtt in","z":"3ec99d10.87a4ba","name":"","topic":"unige/dibris/room328/sensehat","qos":"2","broker":"84e2978f.8cb098","x":200,"y":120,"wires":[["9c4d6315.8ddf2"]]},{"id":"9c4d6315.8ddf2","type":"json","z":"3ec99d10.87a4ba","name":"","property":"payload","action":"","pretty":false,"x":550,"y":120,"wires":[["beac9616.4ec8","a7a3e5c2.25a98"]]},{"id":"c9e0da47.7a929","type":"mqtt out","z":"3ec99d10.87a4ba","name":"","topic":"unige/dibris/room328/display","qos":"2","retain":"","broker":"67b10ae2.3af0ec","x":1560,"y":300,"wires":[]},{"id":"84e2978f.8cb098","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"67b10ae2.3af0ec","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
